Import and initiate findspark
Then import pyspark

In [1]:
import findspark
findspark.init("/usr/local/spark")

In [2]:
import pyspark

Instatiate SparkSession with Hive support

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL example") \
        .config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/hive/warehouse") \
        .enableHiveSupport() \
        .getOrCreate()

# On some clusters the following config setting may be requied
#         .config("hive.metastore.uris", "<value>")

In [4]:
spark.sql('show databases').show()

+------------+
|databaseName|
+------------+
|     default|
|       del24|
|        nyse|
+------------+

In [20]:
spark.sql('use nyse')

DataFrame[]

In [21]:
spark.sql('show tables').show()

+--------+-------------+-----------+
|database|    tableName|isTemporary|
+--------+-------------+-----------+
|    nyse|    nysedaily|      false|
|    nyse|nysedividends|      false|
+--------+-------------+-----------+

In [22]:
spark.sql("select * from nysedaily").show()

+----------+------------+----------+----------------+----------------+---------------+-----------------+------------+---------------------+
|stexchange|stock_symbol|stock_date|stock_price_open|stock_price_high|stock_price_low|stock_price_close|stock_volume|stock_price_adj_close|
+----------+------------+----------+----------------+----------------+---------------+-----------------+------------+---------------------+
|  exchange|stock_symbol|      date|            null|            null|           null|             null|        null|                 null|
|      NYSE|         JEF|  2/8/2010|            25.4|           25.49|          24.78|            24.82|   1134300.0|                24.82|
|      NYSE|         JEF|  2/5/2010|           24.91|           25.19|          24.08|            25.01|   1765200.0|                25.01|
|      NYSE|         JEF|  2/4/2010|           26.01|            26.2|          24.85|            24.85|   1414400.0|                24.85|
|      NYSE|         JEF|  2/3/2010|           26.23|           26.76|          26.22|            26.29|   1066000.0|                26.29|
|      NYSE|         JEF|  2/2/2010|           26.08|           26.86|          25.78|            26.46|   1496400.0|                26.46|
|      NYSE|         JEF|  2/1/2010|           25.61|           26.11|          25.36|            26.11|   2381800.0|                26.11|
|      NYSE|         JEF| 1/29/2010|           26.57|            26.8|          25.41|            25.54|   2010000.0|                25.54|
|      NYSE|         JEF| 1/28/2010|            27.4|            27.4|          26.35|            26.36|   1708100.0|                26.36|
|      NYSE|         JEF| 1/27/2010|           26.44|           27.15|          26.42|            27.14|   1929700.0|                27.14|
|      NYSE|         JEF| 1/26/2010|           26.68|           26.99|          26.46|             26.5|   1422100.0|                 26.5|
|      NYSE|         JEF| 1/25/2010|           26.88|           27.17|          26.42|            26.73|   1296300.0|                26.73|
|      NYSE|         JEF| 1/22/2010|           26.95|           27.13|          26.48|            26.58|   4806900.0|                26.58|
|      NYSE|         JEF| 1/21/2010|           26.91|           27.15|          25.88|             27.0|   4037000.0|                 27.0|
|      NYSE|         JEF| 1/20/2010|           25.81|           27.72|          25.51|             26.8|   3740600.0|                 26.8|
|      NYSE|         JEF| 1/19/2010|           25.41|           25.94|          25.38|            25.83|   1657700.0|                25.83|
|      NYSE|         JEF| 1/15/2010|           25.72|           26.02|          25.13|            25.48|   3198700.0|                25.48|
|      NYSE|         JEF| 1/14/2010|            25.4|           25.96|          25.22|            25.82|   2090400.0|                25.82|
|      NYSE|         JEF| 1/13/2010|           25.58|           25.62|          25.27|            25.46|   2418900.0|                25.46|
|      NYSE|         JEF| 1/12/2010|           25.61|           25.83|          25.35|            25.53|   3174200.0|                25.53|
+----------+------------+----------+----------------+----------------+---------------+-----------------+------------+---------------------+
only showing top 20 rows

In [20]:
spark.sql("drop table if exists new")

DataFrame[]

In [24]:
spark.sql("create table new as select * from employees1 where dept='FI'")

DataFrame[]

In [ ]:
spark.sql('select * from new').show()

In [ ]:
tab=spark.sql("select dept, avg(salary) as avg from employees1 group by dept order by avg desc")

In [30]:
tab.show()

+----+-------+
|dept|    avg|
+----+-------+
|  SA|32000.0|
|  FI|22000.0|
|  HR|15000.0|
+----+-------+

In [31]:
tab.write.csv("newfile.csv")

In [32]:
tab.coalesce(1).write.csv("mynew.csv")

In [33]:
tab.coalesce(1).write.saveAsTable('employees1_new')

In [34]:
spark.sql("show tables").show()

+--------+--------------+-----------+
|database|     tableName|isTemporary|
+--------+--------------+-----------+
|   del24|     employees|      false|
|   del24|    employees1|      false|
|   del24|employees1_new|      false|
|   del24|           new|      false|
|   del24|          new1|      false|
+--------+--------------+-----------+

In [35]:
spark.sql("select * from employees1_new").show()

+----+-------+
|dept|    avg|
+----+-------+
|  SA|32000.0|
|  FI|22000.0|
|  HR|15000.0|
+----+-------+

In [13]:
tab.coalesce(1).write.parquet("employees1")

NameError: name 'tab' is not defined

In [10]:
# Testing Hive integration
spark.sql('show databases').show()

+------------+
|databaseName|
+------------+
|     default|
|       del24|
+------------+

In [11]:
# Testing Hive integration
spark.sql('show tables').show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
| default|  employee|      false|
| default|employees1|      false|
+--------+----------+-----------+

In [12]:
spark.sql('select * from cctab').show(5, False)

AnalysisException: 'Table or view not found: cctab; line 1 pos 14'

In [ ]:
spark.sql('show tables from jsondemo').show()

In [ ]:
spark.sql('show tables from mydb').show()

In [ ]:
spark.sql('use mydb')

In [ ]:
spark.sql('select * from tkttbl').show(5, False)

In [ ]:
spark.sql('use jsondemo')

In [ ]:
spark.sql('show tables').show()

In [ ]:
spark.sql('select * from mydb.tkttbl').show(5, False)

In [ ]:
spark.sql("SELECT * FROM retaildb1.customers1").show()

In [ ]:
spark.sql("SELECT * FROM retaildb1.products1").show()

In [ ]:
cStateCount50 = spark.sql("SELECT customer_state, count(*) as state_count FROM retaildb1.customers1 GROUP BY customer_state HAVING state_count>=50")

Output of a Hive query will be a DataFrame

In [ ]:
type(cStateCount50)

In [ ]:
cStateCount50.printSchema()

In [ ]:
cStateCount50.show()

In [ ]:
prd200 = spark.sql("SELECT category_id, product_category, count(*) as prdcount FROM retaildb1.products1 WHERE product_price>200 GROUP BY category_id, product_category ORDER BY product_category")

In [ ]:
type(prd200)

In [ ]:
prd200.show()

In [ ]:
prd200.printSchema()

These dataframes can be written to Hive tables after creating a new database. The following lines show the syntax. Plesae note that the Hive metastore version should be compatible with the Spark version to be able to create databases and tables in Hive.

spark.sql("CREATE DATABASE IF NOT EXISTS retaildb")

cStateCount50.coalesce(1).write.saveAsTable("retaildb.cStateCount50")

prd200.coalesce(1).write.saveAsTable("retaildb.prd200")